/** FONTS **/
@font-face {
  font-family: 'Cairo';
  src: url("./fonts/Cairo-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Cairo';
  src: url("/fonts/Cairo-Regular.ttf");
}

@font-face {
  font-family: 'Catamaran';
  src: url("./fonts/Catamaran-Regular.ttf");
}

@font-face {
  font-family: 'Catamaran';
  src: url("./fonts/Catamaran-Bold.ttf");
  font-weight: bold;
}

/* Provide sufficient contrast against white background */
html {
  font-size: 16px;
  /* general font here */
}

html, body{
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

body {
  overflow: hidden;
}

#home-canvas {
  cursor:grab;
}

#home-canvas:active{
  cursor:grabbing;
}

h1 {
  font-family: 'Catamaran', serif;
  font-size: 60px;
  margin-bottom: 30px;
}

.intro {
  font-family: 'Cairo', sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 30px;
}
blockquote {
  margin-bottom:5px;
  font-style: italic;
  font-size:20px;
}
p {
  font-family: 'Nunito Sans', sans-serif;
}

button:focus {
  outline: none;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #8de7f0;
  background: #fff1e7;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.2s;
  border: none;
  outline: none;
}

.btn-primary:hover{
  color: #8de7f0;
  background: #fff1e7;
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 20px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 20px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 20px -6px rgba(0, 0, 0, 0.75);
}
.btn-primary:focus{
  outline: none;
}

.text-primary-color {
  color: #474747 !important;
}

.text-secondary-color {
  color: #474747 !important;
}
