@keyframes slideIn {
    0% {
        width: 250px;
        min-height: 250px;
        overflow: hidden;
        height: 250px;
        border-radius: 125px;
        transform: translateX(50vw) scale(0, 0);
    }
    
    50% {
        transform: translateX(-150px) scale(1.3, 0.9);
    }
    
    70% {
        width: 250px;
        min-height: 250px;
        height: 250px;
        border-radius:125px
    }
    
    95% {
        transform: translateX(0) scale(1);
    }
    
    100% {
        width: 2000px;
        min-height: 95vh;
        overflow: hidden;
        border-radius: 2px;
    }
}

@keyframes slideOut {
    0% {
        width: 2000px;
        min-height: 95vh;
        overflow: hidden;
        border-radius: 2px;
    }
    
    30% {
        width: 2000px;
        min-height: 95vh;
        overflow: hidden;
        border-radius: 2px;
        transform: translateX(-150px) scale(1);
    }
    
    80% {
        width: 250px;
        min-height: 250px;
        height: 250px;
        border-radius: 125px;
    }
    
    100% {
        width: 250px;
        min-height: 250px;
        height: 250px;
        border-radius: 125px;
        overflow: hidden;
        transform: translateX(50vw) scale(0, 0);
    }
}

.page-container {
    position: relative;
    z-index: 0;
    background-color: #FFFBE2;
    min-height: 95vh;
    transition: all 0.4s;
    padding:40px;
}

.page-container.initial-hide {
    display:none;
}

.page-container.show {
    display:block;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.page-container.hide {
    animation-name: slideOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.page-container.hide .page-content {
    display:none;
}